<template>
  <div>
    <v-chip color="deep-purple lighten-4"
            class="mr-2"
            @click="pushToCart"
    >
      <v-icon left color="blue darken-2">
        mdi-cart
      </v-icon>
      Программ: {{ amountText }}
    </v-chip>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "Cart",
  methods: {
    pushToCart() {
      if (this.$route.fullPath !== "/cart") {
        this.$router.push('/cart')
      }
    }
  },
  computed: {
    ...mapGetters([
      'amount',
      'total'
    ]),
    amountText() {
      return this.amount < 1 ? "нет" : `${this.amount} шт. ${this.total} руб.`
    }
  }
}
</script>

<style scoped>

</style>