<template>
  <v-card
      class="mx-auto"
      max-width="300"
      tile
  >
    <v-list shaped>
      <v-subheader>Категории</v-subheader>
      <v-list-item-group
          v-model="selectedItem"
          color="primary"
      >
        <v-list-item
            v-for="(item, i) in $props.categories"
            :key="i"
            @click="selectProgramCategory(i)"
        >
          <v-list-item-icon>
            <v-icon v-text="'mdi-decagram-outline'"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="item"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
  name: "CategoryList",
  props: {
    categories: Array
  },
  data: () => ({
    selectedItem: 0,
    items: [],
  }),
  methods:{
    ...mapMutations([
      'selectProgramCategory',
    ])
  }
}
</script>

<style scoped>

</style>