<template>
      <v-text-field placeholder="Найти" :clearable="true" :value="searchString" @input="search($event)"/>
</template>

<script>
import {mapMutations, mapState} from "vuex";

export default {
  name: "Search",
  data: () => ({
  }),
  methods:{
    ...mapMutations([
      'setSearchString',
    ]),
    search(val) {
      this.setSearchString(val)
    }
  },
  computed:{
    ...mapState({
      'searchString': state => state.searchString
    })
  }
}
</script>

<style scoped>

</style>