<template>
  <v-row>
    <v-col xs="12" sm="12" md="10" lg="6">
      <v-card>
        <v-card-title>
          Корзина покупок <span v-if="!amount">: нет покупок</span>
        </v-card-title>
        <v-data-table
            v-if="amount"
            :headers="headers"
            :items="programs"
            hide-default-footer
            class="elevation-1"
        >
          <template slot="body.append">
            <tr class="pink--text">
              <th class="title">Итого</th>
              <th class="title">{{ total }} рублей</th>
              <th class="title">
                <v-btn @click="clearCart()"
                       class="ma-2"
                       color="red"
                       dark
                >Очистить <v-icon dark right>mdi-cart</v-icon></v-btn>
              </th>
            </tr>
          </template>
          <template v-slot:item.action="{ item }">
            <v-btn @click="removeFromCart(item.id)"
                   class="ma-2"
                   color="red"
                   dark
            >
              Удалить
              <v-icon dark right>mdi-cancel</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card>
      <v-btn @click="$router.go(-1)" color="deep-purple lighten-3" text class="mt-3">Продолжить покупки</v-btn>
    </v-col>
  </v-row>
</template>
<script>

import {mapActions, mapGetters} from "vuex";

export default {
  name: 'Cart',
  data() {
    return {
      headers: [
        {text: 'Название программы', value: 'title'},
        {text: 'Стоимость, руб.', value: 'price'},
        {text: 'Действие', value: 'action'},
      ],
    }
  },
  methods: {
    ...mapActions({
      removeFromCart: 'remove',
      clearCart: 'clear'
    }),
  },
  computed: {
    ...mapGetters([
      'programs',
      'amount',
      'total'
    ])
  },
}

</script>