<template>
  <program-list :programs="filteredProgramsList"/>
</template>

<script>
import ProgramList from '@/components/pages/home/ProgramList'
import * as PROGRAM from "@/connectors/programs"
import {mapGetters, mapMutations, mapState} from 'vuex';

export default {
  name: 'Home',

  components: {
    ProgramList
  },

  data: () => ({
    // filteredPrograms: []
  }),

  computed: {
    ...mapState({
      'programs': state => state.programsList,
      'selectedProgramCategory': state => state.selectedProgramCategory
    }),
    ...mapGetters([
      'filteredProgramsList'
    ])
  },

  /*
  * info: Поскольку по заданию не указано нужно ли загружать все категории с бэка отдельной ручкой, к примеру,
  * чтобы отобразить даже те категории, по которым не существует программ обучения, то категории
  * будем генерить из списка всех программ. При этом правильнее было бы прокидывать их в панель через store, поскольку
  * придется прокинуть вверх и потом два раза вниз, но для демонстрации сделал здесь через emit, тем более, что сам
  * список категорий меняться не должен.
  * Такой подход был бы неправильным, если бы у нас была, к примеру, Серверная Пагинация.
  * Сам список программ решено тоже закинуть в store поскольку нам нужна будет фильтрация и поиск, и размещение списка
  * в сторе позволит нам не использовать watch на категорию и строку поиска в текущем компоненте. Так же это актуально
  * еще и по причине того, что страница с карточкой программы обучения у нас не будет тянуть отдельную ручку api, а
  * данные для нее мы также возьмем из списка программ.
  * Также это плюс, поскольку при поиске мы должны будем искать программы по отфильтрованным данным по категориям */

  created() {
    PROGRAM.get().then(res => {
      this.setProgramsList(res)
      let categories = ["Все категории"]
      res.forEach((value) => {
        categories[value.category.id] = value.category.title
      })
      this.$emit('loadedPrograms', categories)
      this.filteredPrograms = res
    })
  },
  methods: {
    ...mapMutations([
      'setProgramsList',
    ])
  }
}

</script>
