<template>
  <div>
    <v-row>
      <v-col xs="12" sm="6" md="6" lg="4">
        <v-img
            alt="Изображение программы обучения"
            :src="activeProgramBySlug.image"
        />
      </v-col>
      <v-col>
        <h1 v-text="activeProgramBySlug.title"></h1>
        <div>
          Стоимость программы: <strong v-text="activeProgramBySlug.price"></strong> Р
          <br>
          <v-btn class="mt-3 mb-3" @click="addProgramToCart" color="deep-purple lighten-4">
            В Корзину
          </v-btn>
          <v-btn @click="$router.go(-1)" color="deep-purple lighten-3" text>Продолжить покупки</v-btn>
        </div>
        <div v-html="activeProgramBySlug.description">
        </div>
      </v-col>
    </v-row>
  </div>
</template>
<script>

import {mapActions, mapGetters, mapMutations} from "vuex";
import * as PROGRAM from "@/connectors/programs"

export default {
  name: 'Program',
  computed: {
    ...mapGetters([
      'activeProgramBySlug'
    ])
  },
  methods: {
    ...mapMutations([
      'setProgramsList',
      'setActiveCardProgramSlug',
    ]),
    ...mapActions({
      addToCart: 'add',
    }),
    addProgramToCart() {
      this.addToCart({
        id: this.activeProgramBySlug.id,
        price: this.activeProgramBySlug.price,
        title: this.activeProgramBySlug.title
      })
    },
  },
  created() {
    /* поскольку по задаче нет отдельной ручки для карточки товара, товар подгрузится из стора, но если
    * пользователь обновить страницу на самой карточке, то стор будет пустой, поэтому просто подгрузим здесь
    * все товары заново. */
    if (this.activeProgramBySlug.length < 1) {
      PROGRAM.get().then(res => {
        this.setProgramsList(res)
      })
    }
    this.setActiveCardProgramSlug(this.$route.params.slug)
  }
}

</script>