<template>
  <div class="text-left mb-3">

    <v-chip
        class="ma-0"
        color="primary"
        outlined
        pill
        @click="setCountElementsOnPage(0)"
    >
      <v-icon left>
        mdi-book-open-page-variant-outline
      </v-icon>
      Все
    </v-chip>

    <v-chip
        class="ma-0 ml-3"
        color="primary"
        outlined
        pill
        @click="setCountElementsOnPage(2)"
    >
      <v-icon left>
        mdi-book-open-page-variant-outline
      </v-icon>
      По 2
    </v-chip>

  </div>
</template>

<script>
import {mapMutations} from "vuex";

export default {
  name: "CountOnPageSelector",
  methods: {
    ...mapMutations([
      'setCountElementsOnPage',
    ])
  }
}
</script>

<style scoped>

</style>