<template>
  <div>
    <count-on-page-selector/>
    <v-pagination
        class="mb-3"
        v-if="countElementOnPage"
        v-model="page"
        :length="countPages"
        circle
    ></v-pagination>
    <v-row>
      <program-list-item
          v-for="item in programWithPaging"
          :key="item.id"

          :id="item.id"
          :title="item.title"
          :description="item.description"
          :slug="item.slug"
          :price="item.price"
          :icon="item.icon"
      />
    </v-row>
  </div>
</template>

<script>
import ProgramListItem from "@/components/pages/home/ProgramListItem"
import CountOnPageSelector from "@/components/pages/home/CountOnPageSelector";
import {mapState} from "vuex";

export default {
  name: "ProgramList",
  props: {
    programs: Array
  },
  components: {
    ProgramListItem,
    CountOnPageSelector
  },
  data() {
    return {
      page: 1,
    }
  },
  computed: {
    ...mapState({
      'countElementOnPage': state => state.countElementOnPage,
      'currentPaginationPage': state => state.currentPaginationPage
    }),
    programsCount() {
      return this.$props.programs.length
    },
    countPages() {
      if (this.countElementOnPage === 0) return 0
      return Math.ceil( this.programsCount / this.countElementOnPage )
    },
    programWithPaging() {
      if (this.countElementOnPage === 0) {
        return this.programs
      }
      let firstEl = this.countElementOnPage * (this.page - 1)
      return this.programs.slice(firstEl,firstEl + this.countElementOnPage)
    }
  },
  /* если будет меняться от фильтрации количество элементов на странице, то page сбросим в 1 */
  watch:{
    programsCount(oldV, newV) {
      if (oldV !== newV) {
        this.page = 1
      }
    }
  },
}
</script>

<style scoped>

</style>