<template>
  <v-card
      :loading="loading"
      class="my-6 ma-3 mt-3 card-outter"
      max-width="350"
  >
    <template slot="progress">
      <v-progress-linear
          color="deep-purple"
          height="10"
          indeterminate
      ></v-progress-linear>
    </template>
    <v-img
        height="250"
        :src="icon"
    ></v-img>
    <v-card-title>{{ title }}</v-card-title>
    <v-card-text>
      <div>{{ descriptionPreview }}</div>
    </v-card-text>
    <div class="card-actions">
      <v-card-text>
        <div class="mb-0 text-subtitle-1">
          Стоимость: <strong>{{ price }} Р</strong>
        </div>
      </v-card-text>
      <v-divider class="mx-4"></v-divider>
      <v-card-actions>
        <v-btn
            color="deep-purple lighten-4"
            @click="addProgramToCart"
        >
          В корзину
        </v-btn>
        <v-btn
            color="deep-purple lighten-2"
            text
        >
          <router-link :to="'/program/' + slug">
            Подробнее
          </router-link>
        </v-btn>
      </v-card-actions>
    </div>
  </v-card>
</template>

<script>
import {mapActions} from "vuex";

export default {
  props: {
    id: Number,
    title: String,
    description: String,
    slug: String,
    price: Number,
    icon: String
  },
  name: "ProgramListItem",
  data: () => ({
    loading: false,
    selection: 1,
  }),
  computed: {
    descriptionPreview() {
      let previewText = this.$props.description.substr(1, 100)
      return this.$props.description.length > 100 ? `${previewText}...` : previewText
    }
  },
  methods: {
    ...mapActions({
      addToCart: 'add',
    }),
    addProgramToCart() {
      this.loading = true
      // таймаут просто для визуального подчеркивания добавления в корзину
      setTimeout(() => {
        this.addToCart({id: this.$props.id, price: this.$props.price, title: this.$props.title})
        this.loading = false
      }, 500)
    },
  },
}
</script>

<style scoped>
.card-outter {
  padding-bottom: 100px;
}

.card-actions {
  position: absolute;
  bottom: 0;
}
</style>