<template>
  <div>
    <cart/>
    <search v-if="$route.path === '/'"/>
    <category-list v-if="$route.path === '/'" :categories="$props.categories"/>
  </div>
</template>

<script>
import Cart from "@/components/common/widgets/Cart"
import Search from "@/components/common/widgets/Search"
import CategoryList from "@/components/common/widgets/CategoryList"
export default {
  name: "LPanel",
  props:{
    categories:Array
  },
  components:{
    Cart, Search, CategoryList
  }
}
</script>

<style scoped>

</style>