<template>
  <v-app >
    <v-main>
      <v-container :fluid="true">
        <v-row>
          <v-col xs="12" sm="6" md="4" lg="2">
            <l-panel :categories="programCategories"/>
          </v-col>
          <v-col xs="12" sm="6" md="8" lg="10">
            <router-view @loadedPrograms="setProgramCategories"/>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import LPanel from "@/components/common/LPanel";
export default {
  name: 'App',
  components: {
    LPanel
  },
  data: () => ({
    programCategories:[]
  }),
  methods:{
    setProgramCategories(categories) {
      // console.log(categories)
      this.programCategories = categories
    }
  }
};
</script>

<style lang="scss">
  /* можно использовать при необходимости scss синтаксис прямо в компонентах, добавлено просто для примера,
   т.к. заюзать не пригодилось вроде бы */
  $magentaLinkColor: #b39ddb;
</style>
